/target/
**/*.rs.bk
.idea/
*.iml
.DS_Store
.cargo/
debug/
release/
/benches/data/
~*
*~
\#*
*#
gf_df_tmp*
gf_checkpoints*
gf_workdir*
test-test*
email-*
.#*
/graph500*
/wiki-Talk*
/twitter_mpi*


# Development scratch files at the repo root (benches/results/** must stay tracked)
/*.gnuplot
/*.txt
/watch_size.sh
/*.png

# Python things
__pycache__

# I do not want to publish benchmarks from other engines except this one;
/benches/results/gf/*
/benches/results/ldbd/*