/target/
**/*.rs.bk
.idea/
*.iml
.DS_Store
.cargo/
debug/
release/
/benches/data/
~*
*~
\#*
*#
gf_df_tmp*
gf_checkpoints*
gf_workdir*
test-test*
.#*
graph500*
twitter_mpi*


# Some things I'm using in development
*.gnuplot
*.txt
watch_size.sh
*.png